<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	    <style type="text/css">
            .style1
            {
                width: 125px;
            }
            .style2
            {
                color: #0066CC;
            }
        </style>
	</head>
	<body>
	
	    <p>
            Dear [_Recievername],</p>
        <p>
            This PO has [_Action].</p>
        <p>
            <table style="border-style: solid; border-width: thin; width:100%; background-color: #F0F0F0;">
                <tr>
                    <td class="style1" style="border: thin groove #C0C0C0">
                        PO no.</td>
                    <td style="border: thin groove #C0C0C0; background-color: #FFFFFF;">
                        [_PONumber]</td>
                </tr>
                <tr>
                    <td class="style1" style="border: thin groove #C0C0C0">
                        Title :
                    </td>
                    <td style="border: thin groove #C0C0C0; background-color: #FFFFFF;">
                        [_Title]</td>
                </tr>
                <tr>
                    <td class="style1" style="border: thin groove #C0C0C0">
                        Description :
                    </td>
                    <td style="border: thin groove #C0C0C0; background-color: #FFFFFF;">
                        [_Description]</td>
                </tr>
                <tr>
                    <td class="style1" style="border: thin groove #C0C0C0">
                        Remark :
                    </td>
                    <td style="border: thin groove #C0C0C0; background-color: #FFFFFF;">
                        [_Remark]</td>
                </tr>
                <tr>
                    <td class="style1" style="border: thin groove #C0C0C0">
                        View details :</td>
                    <td style="border: thin groove #C0C0C0; background-color: #FFFFFF;">
                        <a href="[_ActionURL]">Click here</a></td>
                </tr>
            </table>
        </p>
        <p>
            Best Regards,</p>
        <p>
            <span class="style2">[_Sendername]</span><br />
            <span class="style2"><strong>[_Position] | La-Z-Boy (Thailand) Ltd.</strong></span><br 
                class="style2" />
            <span class="style2">23/1-2 M.5 Nongbondang Banbueng Chonburi 20170 Thailand</span><br 
                class="style2" />
            <span class="style2">Tel +66 (0) 38 460999 ext. 116 | Fax +66 (0) 38 460900
            </span><br />
            </p>
	
	</body>
</html>